*{
    /*outline: 1px solid green;*/
    box-sizing: border-box;
}
body{
    max-width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
}
ul,ol,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    font-style: italic;
}
h2{

}
h1{
    line-height: 200%;
}
abbr{
    font-style: italic;
}
ol{
    list-style-type: upper-roman;
}
p:first-line{
    text-indent: 20px;
}
body>header:nth-of-type(1){
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
body>header:nth-of-type(1) h2{
    line-height: 200%;
}

article h2{
    text-align: center;
}
article h2::after{
    content:"";
    display: block;
    width: 300px;
    height: 3px;
    background: lightgreen;
    border-radius: 5px;
    margin: 0 auto;
}
article section{
    display: flex;

    flex-wrap: wrap;
}
article section h2{
    width: 100%;

}
article section:nth-of-type(1) p{
    width: 20%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid lightcoral;
    border-radius: 25px;
    background: lightgreen;

}
article section:nth-of-type(1) p:hover{
    opacity: 0.6;
}
nav ul{
    list-style-type: none;
}

section ol{
    list-style-position: inside;
}
section h2{
    margin: 20px 0;
}

nav{
    text-align: center;
    width: fit-content;
    background: lightseagreen;
    border-radius: 10px;
}
nav:hover ul{
    display: block;

}
nav h2{
    padding: 5px;
    display: block;
    width: fit-content;
    text-align: left;
}

nav ul{
    width: 35%;
    background: #a9a9a7;
    display: none;
    position: absolute;
    z-index: 2;
    border: 1px solid #000;


}
nav ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li a{
   width: 50%;
    color: #fff;
}





section ol{
    display: block;
    width: 75%;
    margin: 0 auto;

}
section:last-of-type p{
    position: relative;
}

section:last-of-type p::before, section:last-of-type p::after {
    content: "!";
    font-size: 50px;
    /*display: block;*/
    /*background: grey;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*position: absolute;*/
}


footer{
    background:lightslategrey;
    padding: 10px;
    text-align: center;
}