body {
    text-align: center;
}

* {
    box-sizing: border-box;
    /*outline: 1px solid green;*/
}

ul, ol {
    list-style-position: inside;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;

}

.header-logo {
    display: flex;
    justify-content: space-between;
}

.nav-menu ul {
    list-style-type: none
}

.nav-menu li {
    width: 150px;
    height: 20px;
    background: orange;
}

.nav-menu__item {
    position: relative;
    z-index: 5;
}

.nav-submenu, .nav-lowest-submenu {
    display: none;
    position: absolute;
}

.nav-submenu {
    top: 100%;
    left: 0%;
}

.nav-lowest-submenu {
    top: 100%;
    left: 75%
}

.nav-submenu li {
    width: 150px;
}

.nav-menu li:hover .nav-submenu {
    display: block;
}

.nav-submenu li:hover .nav-lowest-submenu {
    display: block;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo__image {
    width: 200px;

}

.header-logo__title {
    font-size: 24px;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu__item {
    display: inline-block;
}

.section-slider {
    height: 500px;
}

.main-slider {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}

.slider-radio-btn {
    display: none;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1;
}

.slide img {
    height: 100%;
    width: 100%;
}

/*=======Проверить еще раз=========*/
.radio-btn-label {
    background: rgba(234, 213, 203, 0.7);
    width: 15px;
    height: 15px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

/*=======Проверить еще раз=========*/
.slider-radio-btn1:checked ~ .slide1,
.slider-radio-btn2:checked ~ .slide2,
.slider-radio-btn3:checked ~ .slide3,
.slider-radio-btn4:checked ~ .slide4,
.slider-radio-btn5:checked ~ .slide5 {
    visibility: visible;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.album {
    width: 250px;
    margin: 20px;
}

.album-image {
    width: 100%;
    height: 200px;
}

.album-list__song-name {
    text-align: left;
    padding: 0 0 0 15px;
}

.team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    padding: 15px;
    width: 150px;
    height: 150px;
    margin: 20px;

}

.team-member__icon {
    width: 50px;
    height: 50px;
}